* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1, h2 {
    text-align: center;
    text-decoration: underline;
}

.body-container {
    display: grid;
    grid-template-columns: 1000px 200px;
    grid-template-rows: 300px minmax(400px, 1fr);
    grid-template-areas:
        "library new-book"
        "library .";
    gap: 100px;
    justify-content: center;
    align-content: center;
    padding: 80px;
}

.library-container {
    grid-area: library;
    display: grid;
    grid-template-rows: auto 1fr;
}

.library-container > #books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
}

.library-container > #books-container > .book {
    display: grid;
    grid-template-rows: repeat(4, 1fr) 1fr;
    justify-items: center;
    padding: 10px;
}

.library-container > #books-container .remove-button {
    align-self: end;
}

.add-book-container {
    grid-area: new-book;
    gap: 10px;
    padding: 10px;
}

.add-book-container > .add-book-form {
    display: grid;
    gap: 10px;
    padding-top: 10px;
}

.add-book-container > .add-book-form .width-constraint {
    width: 176px;
}

.border {
    border: solid black 2px;
}